@import url('https://fonts.googleapis.com/css?family=Allura');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.homePageContent{
  color:blanchedalmond;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header {
  grid-area: header;
  color: #e36b35;
  width:2160px;
  text-align:right;
}
.toTheHost {
  font-size: 7.6em;
  font-family: Arial, sans-serif;
  font-weight: bold;
  position:relative;
  top:-70px;
  right:20px;
  padding-left:10px;
}
.ads { 
  grid-area: ads;
}
.weather { 
  grid-area: weather; 
  color:white;
  margin-left: 20px;
  align-self: start;
}
.events { 
  grid-area: events; 
}

.qr {
  grid-area: qr;
}
.qr img {
  width:75%;
  padding-left:100px;
}
.tdd {
  grid-area: tdd;
}
.help {
  grid-area: help;
}
.footer {
  grid-area: footer;
}
.smads{
  grid-area: smads;
}
.headerH1 {
  color:white;
  text-align:center;
}

  .grid-container {
    display:grid;
    grid-template-columns: 620px 620px 900px;
    grid-template-areas:
      'header header header'
      'ads ads ads'
      'smads smads events'
      'qr help events'
      'tdd tdd weather'
      'footer footer footer';
      grid-template-rows: 214px 1075px 654px auto 699px 551px;
      grid-auto-rows: min-content;
  }
 


h1 {
  color: rgba(241,98, 35, 1);
  text-align: center;
  background-clip: border-box;
  background-image: none;
  font-size: 2.5em;
  font-family: Allura;
  margin-bottom:0;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  border:solid 1px black;
  border-radius:5px;
  padding:0 20px;
}
.weatherHeader{
  padding-bottom:0;
  margin-bottom:0;
}
.eventCal{
  text-align:center;
  font-family: allura;
  color:rgba(241,98, 35, 1);
  font-size:2.5em;
  margin-bottom:0;
  margin-top:0;
}
.eventsHeader {
  color:white;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif;
  font-size:5em;
}
.slider-container {
  background-color:white;
  height:1050px;
  font-size: 2em;
  overflow-y: scroll;
}
.eventSwipe {
  margin-top:0;
  position:relative;
  top:-10px;
  text-align:center;
  
}
.events-slide{
  border:solid 1px #000;
  border-radius:30px;
  margin-top:0;
  padding-top:0;
}
.eventDate{
  font-weight:bold;
  font-size:1.3em
}
.eventTime{
  font-size: .9em;
}
.fetchError{
  display:none;
}
.time{
  text-align:right;
}
.bold{
  font-weight: bold;
}

.help-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.help-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 100%;
  min-height: 1200px;
  min-width:1600px;
  font-size:2em;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}

.touch-area {
  position: relative;
  width: 100%;
  height: 100vh;
}

.touch-highlight {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: rgba(0, 150, 255, 0.5);
  border-radius: 50%;
  pointer-events: none; /* So the highlight doesn't interfere with touch events */
  transform: translate(-50%, -50%); /* Center the highlight on the touch point */
}
